:root{
    --text-dark: #0a0041;
    --paragraph: #7881a1;
    --primary: #af71ff;
    --light-gray: #f2f3f5;
    --primary-light: #d9e2fb;
    --white: white;
    --blue: #48b2ff;
    --black: black;
}
